.cacheview-report .code {
    font-family: consolas, "courier new", courier;
    background: #eee;
    border: 1px #ccc solid;
    padding: 2px;
}

.cacheview-report {
    clear: both;
}

.cacheview-piechart, .cacheview-statistics-wrapper {
    float: left;
}

.cacheview-report .col-actions, .cacheview-report .col-modified, .cacheview-report .col-expires {
    padding: 0 2px;
    white-space: nowrap;
}

.cacheview-report .col-actions {
    text-align: center;
}

.cacheview-report tr:hover {
    background: #eee;
    cursor: pointer;
}

.cacheview-statistics td, .cacheview-statistics th {
    padding: 3px;
}

.cacheview-statistics tfoot tr td {
    border-top: 1px double black;
}
