<config>
    <modules>
        <Meanbee_CacheViewer>
            <version>0.0.1</version>
        </Meanbee_CacheViewer>
    </modules>
    <global>
        <models>
            <cacheviewer>
                <class>Meanbee_CacheViewer_Model</class>
            </cacheviewer>
        </models>
        <blocks>
            <cacheviewer>
                <class>Meanbee_CacheViewer_Block</class>
            </cacheviewer>
        </blocks>
        <helpers>
            <cacheviewer>
                <class>Meanbee_CacheViewer_Helper</class>
            </cacheviewer>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cacheviewer before="Mage_Adminhtml">Meanbee_CacheViewer_Adminhtml</cacheviewer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <system>
                <children>
                    <cache>
                        <children>
                            <cacheviewer translate="title">
                                <title>View Cache</title>
                                <action>adminhtml/meanbee_cacheviewer/report</action>
                                <sort_order>10</sort_order>
                            </cacheviewer>
                        </children>
                    </cache>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cacheviewer>
                                            <title>Cache Viewer Settings</title>
                                        </cacheviewer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <cacheviewer>
                    <file>meanbee/cacheviewer.xml</file>
                </cacheviewer>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <cacheviewer>
            <general>
                <enabled>0</enabled>
            </general>
        </cacheviewer>
    </default>
</config>
